
POSTGRES_USER=admin
POSTGRES_PASS=admin123
POSTGRES_DB=hackathon
POSTGRES_HOST=postgresdb
POSTGRES_PORT=5432


MONGO_USER=admin
MONGO_PASS=admin123
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=Data_Mongodb

JWT_SECRET=hackathon-groupe43-secret-key
